/*-- priorizar contenido visible menú--*/
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,700');
body,
html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    color: #2D2D2D;
    height: 100vh;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}
.push {
    height: 55px
}

.text-markoptic {
    color:#31a463;
}
.k-icon, .k-tool-icon {
    position: initial;
}
#menu {
    font-size: 1rem;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
    transition: all .25s ease;
    z-index: 500;
}
#menu .logo{
    height: 60px;
    width: auto;
    margin: 8px auto;
    transition: all .25s ease;
}
#menu.fixed-top .logo{
    height: 45px;
    margin: 5px auto;
}

.bg-cover-cabecera {
    background-image:url('/img/val2.jpg');
    text-align: center;
}

#menu a,
#menu a:hover {
    color: #2D2D2D;
    text-decoration: none;
}

.h-principal {
    height: 65vh;
}

.top-btn-flotantes {
    top: 65vh;
    margin-top: 60px;
}

.lead {
    font-size: 1.15rem;
    line-height: 1.6em;
}
.lead-heavy {
    font-size: 1.15rem;
    line-height: 1.6em;
    font-weight: 400;
}
.contador {
    /* margin-top: -120px; */
    font-size: 1.9rem;
}

#menu.row a:hover,
#menu.row a label:hover {
    text-decoration: none;
    cursor: pointer;
}

#controlMenu a {
    text-decoration: none;
    color: white;
}

#up {
    right: -50px;
    height: 3rem;
    width: 2rem;
    position: fixed;
    z-index: 9999;
}

.bordes:after {
    content: "";
    position: absolute;
    right: 0;
    top: 20%;
    width: 1px;
    height: 60%;
    background: #31a463;
}

.titulo {
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}

.pointer:hover {
    cursor: pointer
}

.svg-dark {
    fill: #2D2D2D;
}
.svg-mark {
    fill: #31a463;
}

.fijo {
    position: fixed;
    top: 0px;
}

.bg-verde-menu {
    background-color: #31a463
}

.carousel-caption {
    left: 0;
    bottom: 0
}

.control-circle {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    background-color: rgba(0, 0, 0, .5)
}

.circle {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%
}

.bg-cover-directorio {
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden
}
.director-descripcion,
.colaborador-descripcion,
.director-descripcion:hover,
.colaborador-descripcion:hover {
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    text-align: center;
    padding-top: 5px;
    text-decoration: none;
}

.director-descripcion p {   
    margin: 0;
    font-size: 1.1rem;

}
.colaborador-descripcion p {   
    font-size: 0.9rem;
    margin: 0;
}
.director-descripcion p.desc,
.colaborador-descripcion p.desc {   
    margin: 0 50px 0;
    font-size: 1.2rem;
    font-style: italic;
}

.director-descripcion:hover,
.colaborador-descripcion:hover {
    margin-top: 0px;
}

.director-descripcion {
    margin-top: 375px;
    transition: 0.6s ease
}

.colaborador-descripcion {
    margin-top: 187.5px;
    transition: 0.5s ease
}

.director-descripcion:hover {
    transition: .8s ease
}

.colaborador-descripcion:hover {
    transition: 0.6s ease
}

.card .c-img {
    height: 300px
}

.card .c-text {
    height: 80px
}

.grow {
    transition: 0.2s linear;
    font-size: 1.3rem;
    color: #fff;
}

.grow:hover {
    transition: 0.2s linear;
    transform: scale(1.7);
    cursor: default
}
.aliados-block, .aliados-block:hover {
    display: block;
    padding: 0;
    color: #fff;
    text-decoration: none;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}
.b-t {
    -webkit-text-stroke: 1px
}

.b-t-c-verde {
    -webkit-text-stroke-color: #31a463;
    -webkit-text-fill-color: #fff;
}

.t-verde {
    color: #31a463
}

.opacity-black {
    background-color: rgba(0, 0, 0, 0.5)
}

.opacity-green {
    background-color: rgba(44, 165, 96, 0.5)
}

.tarjetas,
.tarjetas:hover {
    color:#fff;
    text-decoration: none;
 }

.tarjetas .card {
    filter: grayscale(0.7);
    transition:all  0.2s ease;
 }

.tarjetas .card:hover {
    filter: grayscale(0);
}

#flexbox {
    width: 100%;
    column-count: 2;
    column-gap: 2px;
    min-height: 85vh;
}

.item img {
    width: 100%;
    display: block;
    filter: brightness(0.8);
    transition: .2s ease-in;
    padding-top: 2px
}

.item:hover img {
    filter: brightness(1);
    transition: .2s ease-out
}

.lightbox-proyectos {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1700;
    top: 0;
    display: none;
    line-height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch
}

.lightbox-block {
    position: fixed;
    z-index: 1500;
    display: block;
    padding: 1.6rem;
}

.lightbox-proyectos #dt {
    background-color: rgba(44, 165, 96, 0.795);
    position: relative;
    width: 85%;
    left: 50%;
    margin-left: -42.5%;
    border-radius: 5px;
    padding-top: 2rem;
    padding-bottom: 2rem
}

#load {
    min-height: 85vh;
}

#load img {
    height: 50%
}

address a {
    color: #fff;
}

.error{
    color:red;
    display: none;
    max-width:auto;
}
.imgCondicion{
    max-height:200px;position:relative;
}

/*.condBrazo{height:150px;}*/

.condBrazo label:hover {
    cursor: pointer;
}

/*.condBrazo input[type='radio']{display: block;position:absolute;background-color: red;}*/

.condBrazo input[type='radio']:checked,
.condBrazo input[type='radio']:not(:checked) {
    display: block;
}

/*.condBrazo .imgCondicion{height:100%;}*/
a#block-beneficiarios {
    color:#fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    text-align: center;
}

a#block-beneficiarios h2 {
    margin: 0;
    padding: 110px 20px;
    font-size: 2.5rem;
    background-color: rgba(49, 164, 99, 0.4);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
    transition: ease 0.2s
}
a#block-beneficiarios h2:hover {
    background-color: rgba(49, 164, 99, 0.2);
}
a#block-beneficiarios:hover {
    text-decoration: none;
}

.block-opciones {
    color:#fff;
    height:300px;
    display: flex;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
}
.block-opciones:hover {
    color:#fff;
    text-decoration: none;
}

#foto input[type='file'] {
    display: none;
}

#foto label img {
    max-width: 100%;
    max-height: 200px;
}

#foto .preview {
    max-width:100%;
    max-height:180px;
}

/*#foto div{padding:.5rem;}*/

#foto div label {
    margin: 0;
}

#foto label:hover {
    cursor: pointer;
}

/*aliados*/

#aliados li {
    display: inline-block;
}

#aliados img {
    max-width: 150px;
}

/*noticia*/

.desc-noticia a {
    color: rgb(23, 162, 184);
}

.desc-noticia a:hover {
    color: rgb(23, 120, 184);
}

/*recaudacion*/

[id*=circulo] {
    fill: blue;
    stroke: red;
    stroke-width: 10px;
    stroke-dasharray: 628;
    stroke-dashoffset: 628;
}

#contCirculo {
    width: 100%;
    position: relative;
}

/* #contCirculo svg{width:100%} */

.progress-bar {
    transition: width 1s ease;
    background-color: orange !important;
}

/*-- tipografias --*/

/*-- no priorizados --*/

.btn-fundacion {
    border: none;
    outline: none;
    padding: 15px;
    display: inline-block;
}

.unete i:nth-child(2) {
    color: #2D2D2D;
}

.bg-markoptic{
    background-color: #31a463;
}
.bg-footer {
    background-color: #727272
}

.blockquote .lead {
    margin: 15px 50px;
    font-size: 1.35rem;
    font-style: italic;
    font-weight: 400;
    max-width: 600px;
}

footer {
     border-top:solid 5px #31a463;
     clear: both;
}
footer ul li a {
    /* margin-left:15px; */
    transition: 0.2s ease;
    color:#fff;
}

footer ul li a::before {
    content: "\2022";
    margin-right: 5px;
}

footer ul li a:hover {
    padding-left: 15px;
    color:#fff;
    text-decoration: none;
}

.ul-lh li {
    line-height: 1.6em;
    margin-bottom: 15px;
    white-space: normal;
}

.h-icon-footer {
    height: 30px;
    margin-right: 10px;
}
.pub-header hr{
    margin: 5px 30%;
    border: 0;
    border-top: 2px solid #fff;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
}
.pub-header small{
    font-size: 1rem;
    font-weight: 600;
}
.publicacion{
    padding: 10px 25px;
}
.publicacion img {
    max-width: 85vw;
    height: auto;
    margin: 0 15px 15px;
    border: 3px solid #fff;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
}
.publicacion p {
    margin-bottom: 15px;
    font-size: 1.1rem;
    line-height: 1.6em;
    font-weight: 300;
}
#mc_embed_signup {
    background:none; clear:left;
}
@media only screen and (max-width: 540px) {
    #menu a {
        font-size: 0.9rem;
    }
    #menu .logo{
        max-height: 45px;
    }
    .contador {
        font-size: 1.5rem;
    }
}

@media (min-width: 576px) {
    #flexbox {
        column-count: 3;
    }
}

@media(min-width:768px) {
    .bordes:after {
        width: 1px;
    }

    .h-principal {
        height: 80vh;
    }
}

@media(min-width:992px) {
    #flexbox {
        column-count: 4;
    }
    .lightbox-proyectos #dt {
        width: 60%;
        margin-left: -30%;
    }
}

@media(min-width:1200px) {
    #flexbox {
        column-count: 5;
    }
}

@media (max-width: 768px) {
    .card .c-img {
        height: 200px;
    }
    .card .c-text {
        height: 50px;
    }
}