/.htaccess
/cms/config.php
/inc/config.php
/cms/uploads
/cms/cache
/back/conexion.php
/back/creaContraseña.php
/back/conexion-old.php
/img/uploads
/login.php
/panel.php
/back/login.php
/back/comprueba.php
/files/csv
/imagenes