RewriteEngine on

ErrorDocument 404 /404.php

#remove the need for .php extention

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php

Options -Indexes
